<script src="https://code.highcharts.com/highcharts.src.js"></script>
<div class="container dashboard-page">
  <h1>Hello <%= current_user.first_name.downcase.titleize %>! 
    <span>
      <small class="percentage-change" title="XP percentage change compared to this time last week">
        <%= current_user.user_xp_change_week %>
        <% if current_user.user_xp_change_week == "NaN" %>
        
        <% else %>
          %
        <% end %>
        <% if current_user.user_xp_change_week == "NaN" %>
        
        <% elsif current_user.user_xp_change_week >= 100 %>
          <i class="fa fa-caret-up" style="color: green;"></i>  
        <% elsif current_user.user_xp_change_week < 100 %>
          <i class="fa fa-caret-down" style="color: red;"></i>
        <% end %>
      </small>
    </span>
  </h1>
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="dash-rewards">
        <div class="col-md-12 dash-header rewards-header">
          <h3>REWARDS <small><span data-toggle="tooltip" title="Start with small, achievable targets and use the progress bars as motivation to unlock your reward before the time period runs out." data-placement="top" class="fa fa-question-circle-o"></span></small></h3>
        </div>
        <div class="row">
          <%= render 'rewards_row' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="dash-left-half">  
        <div class="col-md-12 dash-header">
          <h3 class="text-left">TO-DO LIST <small><span data-toggle="tooltip" title="After saving a new item, you have three days before the progress bar is 100% red. After that, for each day that goes by, you lose 10% of the original XP value until there's nothing left." data-placement="top" class="fa fa-question-circle-o"></span></small></h3>
        </div>
        <div class="todo-list">
          <%= render 'goals/todo_table' %>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="dash-right-half">
        <div class="col-md-12 dash-header">
          <h3>PROGRESS</h3>
        </div>
        <div class="column-chart">
          <div class="text-right chart-options">
            <button class="text-center chart-link-options" onclick="openChart(event, 'daily')" id="daily_chart">
              Daily
            </button>
            <button class="text-center chart-link-options" onclick="openChart(event, 'weekly')">
              Weekly
            </button>
            <button class="text-center chart-link-options" onclick="openChart(event, 'monthly')">
              Monthly
            </button>
          </div>
          <div id="daily" class="chart-content">
            <%= xp_by_day %>
          </div>
          <div id="weekly" class="chart-content">
            <%= xp_by_week %>
          </div>
          <div id="monthly" class="chart-content">
            <%= xp_by_month %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="dash-three-quarter">
        <div class="col-md-12 dash-header">
          <h3>ONGOING TASKS <small><span data-toggle="tooltip" title="Use this to develop good daily habits. Specify the number of times you expect to complete this each week in the 'frequency' field. If you hit it, you'll get 20% extra XP for each activity the following week." data-placement="top" class="fa fa-question-circle-o"></span></small></h3>
        </div>
        <div class="ongoing-task-list">
          <%= render 'goals/new_goal_table' %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="dash-quarter">
        <div class="col-md-12 dash-header">
          <h3>RECENT ACTIVITY</h3>
        </div>
        <div class="activity-list <%= if @activities.count >= 6 then "activity-scrollbox-many" end %>">
          <%= render 'activities/activity_table' %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {
  document.getElementById("daily_chart").click();
});
function openChart(evt, tabChart) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("chart-content");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("chart-link-options");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabChart).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>