<% if user_signed_in? %>
  <div class="home-callout text-center container-fluid">
    <h1>Welcome to RewardMee, <%= current_user.full_name %></h1>
    <h3>Bargain with the future.</h3>
  </div>
  <div class="container home-signup-links">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well">
          <% if current_user.goals.count > 0 %>
            <h2 class="text-center">View Your Goals</h2>
            <h4 class="text-center">Click here to see your goals!</h4>
            </br>
            <%= link_to "View Your Goals", goals_path, class: 'btn btn-success btn-lg btn-block' %>
          <% else %>
            <h2 class="text-center">Create Your Goal</h2>
            <h4 class="text-center">Click here to create your first trackable goal!</h4>
            </br>
            <%= link_to "Create Goal", new_goal_path, class: 'btn btn-primary btn-lg btn-block' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="home-callout text-center container-fluid">
    <h1>Welcome to RewardMee</h1>
    <h3>Bargain with the future.</h3>
  </div>
  <div class="container home-signup-links">
    <div class="row">
      <div class="col-md-6">
        <div class="well">
          <h2 class="text-center">Basic Membership</h2>
          <h4>Sign up for free and get basic access to our goal tracker.</h4>
          </br>
          <%= link_to "Sign up with Basic", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well">
          <h2 class="text-center">Pro Membership</h2>
          <h4>Sign up for the pro account for £1.99/month and get access to all the features!</h4>
          <%= link_to "Sign up with Pro", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block' %>
        </div>
      </div>
    </div>
  </div>
<% end %>