<table class="table">
  <thead>
    <th> </th>
    <th class="text-center">Value</th>
    <th class="text-center">Total</th>
    <th class="text-center">Today</th>
    <th class="text-center">Streak</th>
    <th class="text-right">Actions</th>
  </thead>
</table>
  <div class="tbl-content">
    <table>
      <tbody>
        <% @user_goals.each do |goal| %>
          <tr class="<%= if goal.warn_streak_loss then "bg-danger" end %>">
            <td class="left-col"><strong><%= link_to goal.name.titleize, goal_path(goal) %> </strong><span data-toggle="tooltip" title="Your streak will end soon!" data-placement="top" class="<%= if goal.warn_streak_loss then "fa fa-exclamation-circle" end %>"></span></td>
            <td class="text-center">
              <%= number_with_delimiter(goal.xp_value, :delimiter => ',') %>
              <% if goal.calculate_streak == 1.2 %>
                (+<%= (goal.xp_value.to_f*0.2).to_i %>)
              <% end %>
              XP
            </td>
            <td class="text-center"><%= number_with_delimiter(goal.total_goal_xp, :delimiter => ',') %> XP</td>
            <td class="text-center"><%= number_with_delimiter(goal.daily_goal_xp, :delimiter => ',') %> XP</td>
            <td class="text-center">
              <% if !(goal.recurrence_id == 4) %>
                <% if goal.calculate_streak == 1.2 %>
                  <span class="fa-stack fa-2x">
                    <i class="fa fa-star-o fa-stack-2x"></i>
                    <small class="star-text"><%= goal.calculate_length_of_streak %></small>
                  </span>
                <% else %>
                  <span data-toggle="tooltip" title="You are <%= pluralize( goal.days_to_streak, "day") %> away from earning bonus XP!" data-placement="top">
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary progress-bar-striped active"  role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= (goal.calculate_length_of_streak.to_f/5.0)*100 %>%;">
                        </div>
                    </div>
                  </span>
                <% end %>
              <% end %>
            </td>
            <td class="text-right right-col">
              <span class="fa-2x">
                <% if !(goal.recurrence_id == 4) %>
                  <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myGoalStats_<%= goal.id %>">
                    <i class="fa fa-line-chart"></i>
                  </button>
                  <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myGoalActivity_<%= goal.id %>">
                    <i class="fa fa-plus"></i>
                  </button>
                <% end %>
                <% if goal.recurrence_id == 4 %>
                  <%= link_to complete_goal_path(goal), method: :patch, class:"btn btn-xs btn-primary" do %>
                    <i class="fa fa-plus"></i>
                  <% end %>
                <% end %>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#myUpdateGoal_<%= goal.id %>">
                  <i class="fa fa-edit"></i>
                </button>
                <%= link_to goal_path(goal), method: :delete, data: 
                  {confirm: "Are you sure you want to delete this goal?\n
                  You will lose all data relating to this goal."}, 
                  class: "btn btn-xs btn-danger" do %>
                   <i class="fa fa-trash"></i>
                <% end %>
              </span>
            </td>
            <%= form_for(goal, :method => :put) do |f| %>
              <div class="modal fade" id="myUpdateGoal_<%= goal.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title text-center" id="myModalLabel">Update Goal - <strong><%= goal.name.titleize %></strong></h4>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <%= f.label :name %>
                        <%= f.text_field :name, class: 'form-control', placeholder: "Enter goal name...", autofocus: true  %>
                      </div>
                      <div class="form-group">
                        <%= f.label :description %>
                        <%= f.text_area :description, rows: 4, class: 'form-control', placeholder: "Write a quick motivational message to keep you inspired..." %>
                      </div>
                      <div class="form-group">
                        <%= f.label :xp_value %>
                        <%= f.number_field :xp_value, min: 1, max: 5000, class:"form-control", placeholder: "Enter XP value..." %>
                      </div>
                      <div class="form-group">
                        <%= f.label "Minimum occurence" %>
                        <%= f.select :recurrence_id, options_for_select([['Daily', 1], ['Weekly', 2], ['Monthly', 3], ['One-off', 4]], f.object.recurrence_id) %>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <div class="form-group">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <%= f.submit class:"btn btn-success btn-md" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="modal modal-chart fade" id="myGoalStats_<%= goal.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title text-center" id="myModalLabel">Stats - <strong><%= goal.name.titleize %></strong></h4>
                    </div>
                    <div class="modal-body">
                      <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#daily_<%= goal.id %>">Daily</a></li>
                        <li><a data-toggle="tab" href="#weekly_<%= goal.id %>">Weekly</a></li>
                        <li><a data-toggle="tab" href="#monthly_<%= goal.id %>">Monthly</a></li>
                      </ul>
                      
                      <div class="tab-content">
                        <div id="daily_<%= goal.id %>" class="tab-pane fade in active">
                          <%= column_chart goal.activities.group_by_day(:created_at, last: 7, format: "%a").sum(:total_xp), library: { vAxis: { viewWindow: {min: 0, max: (goal.xp_value * 3) } } } %>
                        </div>
                        <div id="weekly_<%= goal.id %>" class="tab-pane fade">
                          <%= column_chart goal.activities.group_by_week(:created_at, last: 7, format: "%e %b").sum(:total_xp), library: { vAxis: { viewWindow: {min: 0, max: (goal.xp_value * 5) } } } %>
                        </div>
                        <div id="monthly_<%= goal.id %>" class="tab-pane fade">
                          <%= column_chart goal.activities.group_by_month(:created_at, last: 7, format: "%b").sum(:total_xp), library: { vAxis: { viewWindow: {min: 0, max: (goal.xp_value * 10) } } } %>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <div class="form-group">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tr>
          <%= form_for Activity.new, url: goal_activities_path(goal) do |f| %>
            <div class="modal fade" id="myGoalActivity_<%= goal.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Log activity for "<%= goal.name.titleize %>"</h4>
                  </div>
                  <div class="modal-body">
                    <div class="field form-group">
                      <%= f.label :quantity %>
                      <%= f.number_field :quantity, class:"form-control", autofocus: true %>
                    </div>
                  </div>
                  <div class="form-group text-right" style="margin-right: 15px">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <%= f.submit "Log Activity", class: 'btn btn-success' %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</table>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>